# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: aprivalo <aprivalo@student.42angouleme.fr  +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/10/25 14:07:41 by aprivalo          #+#    #+#              #
#    Updated: 2025/11/02 11:44:15 by aprivalo         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

a.out
*.o
*.a
*.so
*.exe
/printf/libft/
build/
obj/
*~
*.swp
*.log
