# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: aprivalo <aprivalo@student.42angouleme.fr  +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/10/25 14:07:41 by aprivalo          #+#    #+#              #
#    Updated: 2025/12/24 00:02:23 by aprivalo         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #
# Binaries
a.out
*/a.out

# Objects / libs
*.o
*.a
*.so
*.exe

# Build dirs
build/
obj/

# MLX
minilibx-linux/libmlx.a

# Editors / OS
*~
*.swp
*.log
.DS_Store
vgcore.*

# Temp
*.ber~
